.Cart-header {
  background: rgb(245, 245, 245);
  padding: 20px 0px 23px 20px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  border-radius: 10px 10px 0px 0px;
  margin-bottom: 71px;
}

.Cart-header h2 {
  margin: 0;
  font-size: 32px;
  font-weight: 700;
  line-height: 37px;
}

.Cart {
  width: 960px;
  border-radius: 10px;
  background-color: rgb(255, 255, 255);
}

.Cart-info {
  display: flex;
  align-items: baseline;
  justify-content: end;
  gap: 53px;
  padding: 20px 100px 89px;
}