p {
  margin: 0;
}

.Content {
  padding: 0 40px;
}

.item-info {
  margin-bottom: 20px;
  font-size: 18px;
  font-weight: 400;
  line-height: 21px;
}

.item-info:nth-child(5) {
  font-size: 24px;
  font-weight: 700;
}

.item-info:first-child {
  margin-top: 20px;
}

.item-info-accent {
  font-weight: 700;
}