p {
  margin: 0;
}

.Comment-header {
  display: flex;
  align-items: center;
  gap: 10px;
}

.Comment-author {
  font-weight: 700;
}
.Comment-date {
  color: rgb(102, 102, 102);
}
.Comment-text {
  padding: 10px 0 10px;
  line-height: 16px;
  font-size: 14px;
  word-wrap: break-word;
}

.Comment-reply {
  border: none;
  padding: 0;
  background-color: transparent;
  cursor: pointer;
  color: rgb(0, 135, 233);
  text-decoration: underline;
}

.Comments-title {
  font-size: 24px;
  font-weight: 400;
  line-height: 28px;
  margin-bottom: 25px;
}